.validate-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.validate-color > * {
  text-align: center;
  margin: auto;
}

/* https://www.magicpattern.design/tools/css-backgrounds */
.invalid-color-code {
  background-color: #fafafa;
  opacity: 1;
  background-image: repeating-linear-gradient(
      45deg,
      #dddddd 25%,
      transparent 25%,
      transparent 75%,
      #dddddd 75%,
      #dddddd
    ),
    repeating-linear-gradient(
      45deg,
      #dddddd 25%,
      #fafafa 25%,
      #fafafa 75%,
      #dddddd 75%,
      #dddddd
    );
  background-position: 0 0, 9px 9px;
  background-size: 18px 18px;
}
